.user-card {
  display: flex;
  user-select: none;
  flex-direction: column;
  justify-content: space-between;
  width: 18%;
  margin-bottom: 2.5%;
  border-radius: 10px;
  color: #fff;
  font-size: 1.5rem;
  text-align: center;
  box-shadow: 0 0 5px #fff;
  overflow: hidden;
}
.user-card:hover {
  transform: scale(1.03, 1.03);
  box-shadow: 0 0 8px #fff;
}

.user-card > img {
  width: 100%;
}
/* login name of users */
.user-card > h2 {
  margin: 10px 0;
}

.more-btn {
  padding: 2px;
  color: #fff;
  cursor: pointer;
  font-size: 2.5rem;
  background-color: #393e46;
}
