* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  background: none;
  text-decoration: none;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  color: #fff;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: #222831;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px;
}

/* responsive */
@media (max-width: 1355px) {
  html {
    font-size: 8px;
  }
}
@media (max-width: 800px) {
  .user-card {
    width: 22.5%;
  }
  .search-input {
    margin-left: 10px;
  }
}
@media (max-width: 600px) {
  .user-card {
    width: 31%;
  }
}
